@media(max-width: 500px){
  .app{
    flex-direction: column;
    gap: 10px;
  }
  .chess {
    width: 80%;
    padding: 25px;
    margin:0;
  }
  .lost-all{
    width: 70%;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
  }
  .timer{
    align-items: center;
  }
}
@media(max-width: 400px){
  .chess{
    width: 90%;
  }
}
table {
  margin-right: 30px;
  border-collapse: collapse;
  width: 50%;
  max-width: 600px;
  aspect-ratio: 1/1;
}
tbody{
  width: 100%;
}
td, th {
  background-color: #E8EDF9;
  border: 1px solid black;
  text-align: center;
}
tr:nth-child(odd) td:nth-child(even) {
  background-color: #B7C0D8;

}

tr:nth-child(even) td:nth-child(odd) {
  background-color: #B7C0D8;
}
.selected-black{
  background-color:#7B61FF;
}
.selected-white{
  background-color: rgba(123, 97, 255, 0.5);
}
.available{
  background-color: rgba(123, 97, 255, 0.5) !important;
}
.lost-all{
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.lost{
  padding: 30px;
}
.lost-figures-list{
  display:flex;
  align-items:center;
  margin-top:5px;
}
.timer{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.timer button{
  height: 30px;
  background-color: deepskyblue;
  cursor: pointer;
}

.rb{
  background-image: url("./assets/Piece=Rook, Side=Black.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.nb{
  background-image: url("./assets/Piece=Knight, Side=Black.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;

}
.bb{
  background-image: url("./assets/Piece=Bishop, Side=Black.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.qb{
  background-image: url("./assets/Piece=Queen, Side=Black.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.kb{
  background-image: url("./assets/Piece=King, Side=Black.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pb{
  background-image: url("./assets/Piece=Pawn, Side=Black.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.rw{
  background-image: url("./assets/Piece=Rook, Side=White.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.nw{
  background-image: url("./assets/Piece=Knight, Side=White.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.bw{
  background-image: url("./assets/Piece=Bishop, Side=White.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.qw{
  background-image: url("./assets/Piece=Queen, Side=White.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.kw{
  background-image: url("./assets/Piece=King, Side=White.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
.pw{
  background-image: url("./assets/Piece=Pawn, Side=White.png");
  background-size: 85%;
  background-position: center center;
  background-repeat: no-repeat;
}
