
.game{

  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}
.board{
  height: calc(64px * 8 );
  width: calc(64px * 8 );
  display: flex;
  flex-wrap: wrap;
}
.cell{
  width:64px;
  height:64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell img {
  width: 48px;
  height: 48px;
  position: relative;
  cursor:pointer
}
.black{
  background-color: #B7C0D8;
}
.white{
  background-color: #E8EDF9;
}
.selected-black{
  background-color:#7B61FF;
}
.selected-white{
  background-color: rgba(123, 97, 255, 0.5);
}
.available{
  height: 12px;
  width: 12px;
  border-radius:50%;
  background-color: rgba(123, 97, 255, 0.5);
}
.lost{
  height:calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}


